doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        .title bookmarks
        .nav
          if username
            a(href='/logout') logout
          a(href='/signup') signup
    block content
    footer
      .container
