doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        .title bookmarks
        .nav
          if userId
            a(href='/logout') logout
          else
            a(href='/signup') signup
            a(href='/login') login
    block content
    footer
      .container
