extends layout

block content
  main
    .container
      form(action='/signup' method='post')
        label(for='name') Name: 
        input(type='text' name='name' id='name')
        label(for='bookmark') Bookmark: 
        input(type='url' name='bookmark' id='bookmark')
        label(for='description') Description: 
        textarea(name='description' id='description')
        input(type='submit' value='Bookmark!')
    
        
