body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
<<<<<<< HEAD
}

.container {
 width: 960px
 margin: 0 auto;
}
=======
}
>>>>>>> e02dc0765b2fb5fa6d70f3f512081cb4e3edf2fd
